.car-options1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.car-options2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.car-options:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.color-options {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 30%;
    margin: 5px;
    padding: 16px 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.interior-options {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 30%;
    margin: 5px;
    padding: 16px 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.tech-options {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 30%;
    margin: 5px;
    padding: 16px 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.wheel-options {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 30%;
    margin: 5px;
    padding: 16px 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.orders-placed-container {
    border-style: dashed;
    border-color: red;
    padding: 20px;
}