.car-options {
    display: flex;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 8 px 0 rgba(0,0,0,0.2);
    transition: 0.3s 
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.color-options {
    padding: 2px 16px
}

.interior-options {
    padding: 2px 16px
}

.tech-options {
    padding: 2px 16px
}

.wheel-options {
    padding: 2px 16px
}